@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Cairo:wght@300&family=Heebo:wght@200&family=Open+Sans&family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: url(./assets/bg-chat.webp);
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
}